@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(./contact.css);
@import url(./about.css);
@import url(./skills.css);

:root{
    --primary-color: rgb(218, 0, 65);
    --secondary-color: rgb(199, 181, 181);
    --color-3:rgba(44, 14, 22, 0.742);
    --bg-img: url(./background_img.jpg);
    --img-width: clamp(18.75rem, 11.429vw + 16.464rem, 22.75rem);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

html{
    scroll-behavior: smooth;
    /* font-size: clamp(0.5rem, 0.3571rem + 0.7143vw, 1rem); */

    
}
body{
    background-color:rgb(0, 0, 0);
    font-family: "Poppins", sans-serif;
    color: var(--primary-color);
    
}
header{
    position:fixed;
    display: flex;
    justify-content: end;
    width: 100%;
    z-index: 1000;
    /* background-color:rgba(133, 96, 107, 0.196) ; */
}
.logo{
    font-size: 3rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 20px;
    color: var(--secondary-color);
    height: 100px;
    position: absolute;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 30px;
    margin-right: 50px;

}
nav li{
    
    margin: 5px 0;
    border-radius: 5px;
    cursor:pointer;
}
nav a{
    display: block;
    text-decoration: none;
    color: var(--secondary-color);
    transition: all 0.25s;
    padding: 6px 18px;
}
nav li:hover a{
    color: var(--primary-color);
}
nav li:hover{
    background-color: rgba(126, 126, 126, 0.073);
    color: var(--primary-color);
}

.contact-btn{
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    transition: all 0.25s;
}
.contact-btn:hover{
    background-color: transparent;
    filter: drop-shadow(0 0 5px var(--primary-color));
}

/* mobile menu */
.hamburger{
    margin:10px;
    width: 40px;
    height: 40px;
    display:none;
    flex-direction: column;
    gap: 20%;
}


.hamburger div{
    width: 100%;
    height: 20%;
    background-color: var(--primary-color);
    transition: all 0.3s;
}

.cross div:nth-child(2){
    display: none;
}
.cross div:nth-child(1){
    transform:translatey(100%) rotate(45deg)
    
}
.cross div:nth-child(3){
    transform: translatey(-100%) rotate(-45deg)
   
}
.mobile-nav {
    display: none;
    list-style: none;
    min-width: clamp(12.5rem, 10.5916rem + 9.542vw, 15.625rem) ;
    /* gap: 50px; */
    box-shadow: inset 0 0 6px rgb(172, 156, 156,0.3);
    position: fixed;
    height: 100vh;
    padding-top: 100px;
  
}

.mobile-nav li {
    /* background-color: aqua; */
    width: 100%;
    height: 60px;
    padding: 0 40px;
    font-size: 16px;
    /* border: 0.3px solid rgba(140, 121, 121, 0.336); */
}

.mobile-nav li a {
  text-decoration: none;
  color: var(--secondary-color);
}
@media (max-width: 844px){
    .hamburger{
        display: flex;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    nav{
        display: none;
    }
    .mobile-nav {
    display: none;
    
    top: 0;
    right: 0;
    flex-direction: column;
    background-color: var(--color-3);
    border-radius: 10px 0 0 10px;
    z-index: 999;
    /* text-align: center; */
  }

  .navigation{
    display: flex;
  }

  .home-sec{
    flex-direction: column;
    margin-top: 120px;
    /* align-self:center; */
  }
  
}

/* Home section */

.home{
    width: 100%;
    min-height: 100vh;
     background-image:url(./bg2.jpg);
     background-attachment: fixed;
     background-size: cover;
     position: relative;
     display: flex;
     
}

.home-sec{
    
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* flex-wrap: wrap; */
    gap: 10%;
    /* position: absolute; */
    bottom: 0;
    padding: 0 50px;
    padding-bottom: 20px;
    align-self: flex-end;
    /* background-color: aqua; */
}

.content h1:nth-child(1){
    font-size: 1.6rem;
}
.content h1{
    font-size: 2rem;
    
}
.content h1 span{
    font-size: 4.5rem;
    font-style: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--secondary-color);

}
.content .btn{
    padding: 10px 20px;
    margin: 20px 5px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid var(--primary-color);
    background-color: transparent;
    color: var(--primary-color);
    transition: all 0.3s;
    box-shadow: 0 0px 7px rgb(218, 0, 65,0.7);
}
.content .btn:hover{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transform: translateY(-5px);
}

/* Home image */

.home-sec .image{
    position: relative;
    width: var(--img-width);
    border-radius: 30% 55% ;
    overflow: hidden;
    /* margin: 30px; */
    /* background-color: aquamarine; */

}

.home-sec img{
    width: 100%;
    height: 100%;
    
    /* display: none; */
    
}
.home-sec .img-styler{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image:linear-gradient(-140deg, rgba(0, 0, 0,0.3), rgb(0, 0, 0,0.15),rgba(0, 0, 0));
    z-index: 100;
    /* border-radius: 30% 55% ; */
    /* display: none; */

}
/* .home-sec .image-container{
    width: 350px;
    height: 400px;
    background-image:linear-gradient(-140deg, rgba(0, 0, 0,0.3), rgb(0, 0, 0,0.15),rgba(0, 0, 0)), url(./img1.jpg);
    background-size: cover;
    background-position: center;
    filter:saturate(0.8);
    border-radius: 30% 55% ;
    transition: transform 0.3s;
    display: none; */
/* } */
.image-container:hover{
    transform: scale(1.05);
}


.about-container .image-container{
    display: none;
    width: 400px;
    height: 450px;
    background-image:linear-gradient(-215deg, rgba(0, 0, 0,0.3), rgb(0, 0, 0,0.5),rgba(0, 0, 0)), url(./img3.jpg);
    background-size: cover;
    background-position: center;
    filter: grayscale(0.3);
    border-radius: 55% 30%;
    transition: transform 0.3s;
}



.filler{
    height: 10px;
}
.heading{
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
}

@media (max-width: 930px){
    html{
        font-size: clamp(0.875rem, -0.3517rem + 2.3256vw, 1rem);
    }
   
}
@media (max-width: 320px){

    html{
        font-size: 90;
    }

    .home-sec{
        flex-direction: column-reverse;
    }
    .home-sec .image{
        width: 200px;
        border-radius: 50%;
    }
}




